article{
    position: relative;
    overflow: hidden;
}

.desktop-project-img {
    width: 30vw;
    height: 300px;
    transition: all 0.8s ease;
}


.desktop-project-img img {
    height: 100%;
    width: 100%;
    border-radius: 3em;
    object-fit: cover;
}

.desktop-project-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3em;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.desktop-project-details p {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

article:hover .desktop-project-details {
    opacity: 1;
}

.desktop-project-details button {
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--third-color);
}

.desktop-project-details button a {
    font-size: 1.2em;
}