* {
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #f1e3d9;
    --second-color: #b08f82;
    --third-color: #754b48;
    --text-color: #1c150a;
    --button-background-color: #6a4128;
    --button-color:#967e66;
    --hover-background-color: #5e4434;
    --hover-color:#ffeee1;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
}

header, button, h2, h3 {
    font-family: Merienda;
}

p {
    font-family: Roboto;
}

footer {
    font-family: Marck Script;
}