.desktop-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 5%;
}

.desktop-projects h2 {
    font-size: 4em;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects-container section {
    width: 600px;
    height: 600px;
}
