.mobile-header {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: var(--second-color);
    display: flex;
    padding: 2%;
}

.name {
    width: 60vw;
    font-size: 1em;
    text-align: center;
    font-weight: bolder;
}

.toggle-button {
    display: flex;
    justify-content: end;
    width: 40vw;   
}

.hamburger-icon {
    height: 40px;
    width: 50px;
}

.hamburger-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3%;
    background-color: var(--third-color);
}

.menu li {
    list-style: none;
    margin: 0.5em;
    font-size: 1.5em;
}

.menu li a {
    color: var(--second-color);
    text-decoration: none;
}

.menu.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.menu.close {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}


@media screen and (min-width: 700px) {

    .top h1 {
        font-size: 2.5em;
        text-align: start;
    }   

    .toggle-button {
        align-items: center;
    }
    
}