
h2 {
    font-size: 3em;
    margin-top: 1.5em;
}

/*about me*/
.about-me-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-avatar {
    height: 300px;
    width: 280px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.my-avatar img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    border-radius: 50%;
}

/*Skills*/
.skills-mobile {
    text-align: center;
}

.skills-mobile ul {
    list-style: none;
}

.skills-image {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 300px;
}

.skills-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*MobieProyects*/
.projects-mobile {
    text-align: center;
}

.projects-mobile h3 {
    font-size: 3em;
    margin-top: 0.5em;
}

/*project*/
.project {
    position: relative;
}

.project-description {
    margin-top: 1em;
}

/*project-button-container*/
.project-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

/*MobileContactMe*/
.contact-me {
    text-align: center;
}

.contact-me p {
    margin-bottom: 0.5em;
}

.contact-me .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*MobileContainer*/
.mobile-container {
    margin: 5%;
    padding: 5%;
    text-align: center;
    background-color: var(--second-color);
}

.mobile-container-title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.mobile-container-content {
    font-size: 1.2em;
    padding: 5%;
    background-color: var(--third-color);
    color: var(--second-color);
}

/*MobileImageProject*/
.mobile-image-project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*MobileButton*/
.btn-mobile {
    height: 2.5em;
    width: 120px;
    margin-right: 3%;
    padding-right: 2%;
    padding-left: 3%;
    background-color: var(--button-background-color);
    border: rgb(0, 0, 0) 0.1rem solid;
    border-radius: 2em;
    border-color: var(--button-color);

}

.btn-mobile a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--second-color);
    padding: 2%;
}

.btn-mobile img {
    height: 1.2em;
    margin-left: 0.5em;
}

/*description-btn*/
.description-btn {
    font-size: 1em;
    font-weight: bolder;
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    border: none;
    color: var(--button-color); 
    cursor: pointer;
    outline: none; 
    background-color: var(--button-background-color); 
    
}

.hidden{
    display: none;
}

