.projects-mobile {
    text-align: center;
}

.projects-mobile h3 {
    margin-top: 0.5em;
}

@media screen and (min-width:700px) {

    .projects-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects-mobile section {
        width: 50vw;
    }
}