.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-description {
    margin-top: 1em;
}

.mobile-image-project {
    display: flex;
}

.mobile-image-project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}