.mobile-container {
    margin: 5%;
    padding: 5%;
    text-align: center;
    background-color: var(--second-color);
}

.mobile-container-title {
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

.mobile-container-content {
    font-size: 1.2em;
    padding: 5%;
    background-color: var(--third-color);
    color: var(--second-color);
}
