:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #241d33;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*estilos para el titulo del juego*/

.game-header h1 { font-size: 3.5em; }

h1 span.c1 { color: #E53D30; }
h1 span.c2 { color: #FCC421; }
h1 span.c3 { color: #249544; }
h1 span.c4 { color: #0087D2; }
h1 span.c5 { color: #b818f2; }
h1 span.c6 { color: #04b89d; }
h1 span.c7 { color: #6099b8; }
h1 span.c8 { color: #f218e7; }

/*estilos para el inicio del juego*/

.activeStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 30vw;
  border: 5px solid red;
  background-color: #302244;
}

.menu-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  font-size: 1.5em;
  padding: 3%;
}

.menu-form input {
  font-size: 1em;
  text-align: center;
  margin-bottom: 2em;
  font-weight: bolder;
}

.menu-form input:focus {
  outline: none;
  border-color: #e3ffeb;
  box-shadow: 0 0 2px 2px #e1ffea;
  transition: 0.1s;
}

.menu-form button {
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.menu-form button:hover {
  background-color: #ffffffd1;
  border-image: linear-gradient(to bottom right, #b927fc94 0%, #2c90fc94 25%, #b8fd3394 50%, #fec83794 75%, #fd189294 100%);
  border-image-slice: 1;
}

.menu-footer { height: 10vh; }

.startDisable { display: none; }

/*estilos para el juego*/

.activeGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.input-game { 
  height: 15vh;
}

.input-game form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-game input {
  font-size: 1.5em;
  width: 15vw;
  text-align: center;
  margin-bottom: 2em;
  font-weight: bolder;
  
}

.input-game input:focus {
  outline: none;
  outline: none;
  border-color: #e3ffeb;
  box-shadow: 0 0 2px 2px #e1ffea;
  transition: 0.1s;
}

.input-game input::after {
  transition: 0.5s;
}

.input-game button {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bolder;
  border: 4px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.input-game button:hover {
  background-color: #ffffffd1;
  border-image: linear-gradient(to bottom right, #b927fc94 0%, #2c90fc94 25%, #b8fd3394 50%, #fec83794 75%, #fd189294 100%);
  border-image-slice: 1;
}

.mistake {color: #ff2111;}

.output {
  height: 30vh;
  font-size: 2em;
}

.gameDisabled { display: none; }

/*estilos para el fin del juego*/

.game-over {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: #241d33ad;
}

.text-game-over {
  background: #302244;
  height: 300px;
  width: 320px;
  padding: 2%;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text-game-over p {
  font-size: 2.5em;
  font-weight: bolder;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.text-game-over .hiddenWord {
  font-size: 1.2em;
}

.text-game-over button {
  font-size: 1.5em;
  cursor: pointer;
  background-color: #f218e7;
  color: #fff;
  font-weight: bolder;
  border: 2px solid transparent;
}

.text-game-over button:hover {
  background-color: #680a63;
  color: #ffffff90;
  transition: 0.2s;
}

.gameOverDisabled { display: none; }


